node_modules
.vs/AuvenirNetCore/v16/.suo
.vs/AuvenirNetCore/DesignTimeBuild/.dtbcache

CommonToolService/bin/
CommonToolService/obj/

NonAccountWorkingPaperService/Logs/
NonAccountWorkingPaperService/bin/
NonAccountWorkingPaperService/obj/
NonAccountWorkingPaperService/.vs/NonAccountWorkingPaperService/v16/.suo

AccountWorkingPaperService/bin/
AccountWorkingPaperService/obj/
AccountWorkingPaperService/Auvenir.BusinessService/bin/
AccountWorkingPaperService/Auvenir.Common/bin/
AccountWorkingPaperService/Auvenir.Common.Domain/bin/
AccountWorkingPaperService/Auvenir.Common.Services/bin/
AccountWorkingPaperService/Auvenir.Core/bin/
AccountWorkingPaperService/Auvenir.Docusign/bin/
AccountWorkingPaperService/Auvenir.Domain/bin/
AccountWorkingPaperService/Auvenir.Exporter/bin/
AccountWorkingPaperService/Auvenir.ImportStandardFile/bin/
AccountWorkingPaperService/Auvenir.Infrastructure/bin/
AccountWorkingPaperService/Auvenir.Mapping/bin/
AccountWorkingPaperService/Auvenir.Resource/bin/
AccountWorkingPaperService/Auvenir.WorkingPaper/Logs/
AccountWorkingPaperService/Auvenir.WorkingPaper/bin/
AccountWorkingPaperService/IntegrateAzureLogSystem/bin/
AccountWorkingPaperService/ViewModal/bin/

AccountWorkingPaperService/Auvenir.BusinessService/obj/
AccountWorkingPaperService/Auvenir.Common/obj/
AccountWorkingPaperService/Auvenir.Common.Domain/obj/
AccountWorkingPaperService/Auvenir.Common.Services/obj/
AccountWorkingPaperService/Auvenir.Core/obj/
AccountWorkingPaperService/Auvenir.Docusign/obj/
AccountWorkingPaperService/Auvenir.Domain/obj/
AccountWorkingPaperService/Auvenir.Exporter/obj/
AccountWorkingPaperService/Auvenir.ImportStandardFile/obj/
AccountWorkingPaperService/Auvenir.Infrastructure/obj/
AccountWorkingPaperService/Auvenir.Mapping/obj/
AccountWorkingPaperService/Auvenir.Resource/obj/
AccountWorkingPaperService/Auvenir.WorkingPaper/obj/
AccountWorkingPaperService/IntegrateAzureLogSystem/obj/
AccountWorkingPaperService/ViewModal/obj/

CoreService/Auvenir.Web/.vs/Auvenir.Web/v16/.suo
CoreService/bin/
CoreService/obj/
CoreService/Auvenir.Web/.vs/Auvenir.Web/v16/.suo
CoreService/Auveni.DependencyInjection/bin/
CoreService/Auvenir.AzureLog/bin/
CoreService/Auvenir.AzureServicesEventBus/bin/
CoreService/Auvenir.Catalog/bin/
CoreService/Auvenir.Common/bin/
CoreService/Auvenir.Helper/bin/
CoreService/Auvenir.Helper.Interface/bin/
CoreService/Auvenir.HttpClientOPM/bin/
CoreService/Auvenir.Infrastructure/bin/
CoreService/Auvenir.InKContentProcessor/bin/
CoreService/Auvenir.Localization/bin/
CoreService/Auvenir.Model/bin/
CoreService/Auvenir.SeedData/bin/
CoreService/Auvenir.Service/bin/
CoreService/Auvenir.Service.Interface/bin/
CoreService/Auvenir.ViewModel/bin/
CoreService/Auvenir.ViewModel.Example/bin/
CoreService/Auvenir.Web/Logs/
CoreService/Auvenir.Web/bin/
CoreService/Auvenir.WebApi/bin/
CoreService/IntegrateAzureLogSystem/bin/

CoreService/Auveni.DependencyInjection/obj/
CoreService/Auvenir.AzureLog/obj/
CoreService/Auvenir.AzureServicesEventBus/obj/
CoreService/Auvenir.Catalog/obj/
CoreService/Auvenir.Common/obj/
CoreService/Auvenir.Helper/obj/
CoreService/Auvenir.Helper.Interface/obj/
CoreService/Auvenir.HttpClientOPM/obj/
CoreService/Auvenir.Infrastructure/obj/
CoreService/Auvenir.InKContentProcessor/obj/
CoreService/Auvenir.Localization/obj/
CoreService/Auvenir.Model/obj/
CoreService/Auvenir.SeedData/obj/
CoreService/Auvenir.Service/obj/
CoreService/Auvenir.Service.Interface/obj/
CoreService/Auvenir.ViewModel/obj/
CoreService/Auvenir.ViewModel.Example/obj/
CoreService/Auvenir.Web/obj/
CoreService/Auvenir.WebApi/obj/
CoreService/IntegrateAzureLogSystem/obj/

FileService/Auvenir.FileService.WebApi/Logs/
FileService/Auvenir.FileService.WebApi/bin/
FileService/Auvenir.FileService.WebApi/obj/
FileService/Auvenir.Common/bin/
FileService/Auvenir.Common/obj/
FileService/Auvenir.Helper/bin/
FileService/Auvenir.Helper/obj/
FileService/IntegrateAzureLogSystem/bin/
FileService/IntegrateAzureLogSystem/obj/

FrontEnd/bin/
FrontEnd/obj/
FrontEnd/node_modules/
FrontEnd/.template_run
FrontEnd/.build_modules
FrontEnd//public/dist/*
FrontEnd/dist
FrontEnd/.error_code
FrontEnd/.docker_location
FrontEnd//ClientApp/src/language/*

InkContentProcessorService/Auvenir.InKContentProcessor/bin/
InkContentProcessorService/Auvenir.InKContentProcessor/obj/
InkContentProcessorService/Auvenir.AzureLog/obj/
InkContentProcessorService/Auvenir.AzureLog/bin/
InkContentProcessorService/Auveni.DependencyInjection/obj/
InkContentProcessorService/Auvenir.Common/obj/
InkContentProcessorService/Auvenir.DB/obj/
InkContentProcessorService/Auvenir.Services/obj/
InkContentProcessorService/Auveni.DependencyInjection/bin/
InkContentProcessorService/Auvenir.Common/bin/
InkContentProcessorService/Auvenir.DB/bin/
InkContentProcessorService/Auvenir.Services/bin/

PlanningStepService/PlanningStep/Logs/
PlanningStepService/PlanningStep/bin/
PlanningStepService/PlanningStep/obj/

PlanningStepService/ApplicationCore/bin/
PlanningStepService/Auvenir.Common.Domain/bin/
PlanningStepService/Auvenir.Common.Services/bin/
PlanningStepService/Auvenir.MiddleWares.AADAuthentication/bin/
PlanningStepService/Common/bin/
PlanningStepService/CommonControlService/bin/
PlanningStepService/ImportExcelToDb/bin/
PlanningStepService/ImportVSALibrary/bin/
PlanningStepService/Infrastructure/bin/
PlanningStepService/IntegrateAzureLogSystem/bin/
PlanningStepService/ProcessorLockDb/bin/
PlanningStepService/ReviewNote/bin/
PlanningStepService/RiskCommonModule/bin/
PlanningStepService/Services/bin/
PlanningStepService/SideNoteModule/bin/

PlanningStepService/ApplicationCore/obj/
PlanningStepService/Auvenir.Common.Domain/obj/
PlanningStepService/Auvenir.Common.Services/obj/
PlanningStepService/Auvenir.MiddleWares.AADAuthentication/obj/
PlanningStepService/Common/obj/
PlanningStepService/CommonControlService/obj/
PlanningStepService/ImportExcelToDb/obj/
PlanningStepService/ImportVSALibrary/obj/
PlanningStepService/Infrastructure/obj/
PlanningStepService/IntegrateAzureLogSystem/obj/
PlanningStepService/ProcessorLockDb/obj/
PlanningStepService/ReviewNote/obj/
PlanningStepService/RiskCommonModule/obj/
PlanningStepService/Services/obj/
PlanningStepService/SideNoteModule/obj/

/.vs/
FileService/Auvenir.Helper/obj/Auvenir.Helper.csproj.nuget.dgspec.json
FileService/IntegrateAzureLogSystem/obj/IntegrateAzureLogSystem.csproj.nuget.dgspec.json
InkContentProcessorService/Auveni.DependencyInjection/obj/Auvenir.DependencyInjection.csproj.nuget.dgspec.json
InkContentProcessorService/Auvenir.Common/obj/Auvenir.Common.csproj.nuget.dgspec.json
InkContentProcessorService/Auvenir.DB/obj/Auvenir.DB.csproj.nuget.dgspec.json
InkContentProcessorService/Auvenir.Services/obj/Auvenir.Services.csproj.nuget.dgspec.json

bin/
obj/
packages/

/PlanningStepService/Planning_AuvenirNetCore.sln
/$tf
CommonToolService/Logs/
*.user
*/.vs
*FolderProfile.pubxml
/SPOApi/AuvenirNetCore_SPOApi.sln
/SPOApi/SiteSPO.csproj.user
/UnitTests/scripts/tools
/UnitTests/tools
/FrontEnd/ClientApp/src/language/en.json
